.navbar-brand{
    white-space: pre-wrap!important;
}

.kudos {
    background-image: url("../images/card.jpg")!important;
    background-size: cover!important; 
}

.card-text {
    font-size: 25px!important;
}